.calculator {
  padding: 60px 0;
  &__body {
    background: #ffffff;
    border: 1px solid #e6eaed;
    box-shadow: 0px 10px 20px rgba(136, 145, 157, 0.3);
    border-radius: 8px;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include media(1200) {
      padding: 60px;
    }
    @include media(576) {
      padding: 20px;
    }
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__range {
    width: 100%;
  }
  &__line {
    width: calc(50% - 15px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &_large {
      .calculator__input {
        border-radius: 8px 8px 8px 0;
      }
      @include media(992) {
        width: 100%;
      }
    }
    @include media(992) {
      flex-direction: column;
    }
    @include media(576) {
      width: 100%;
    }
  }
  &__block {
    width: 100%;
  }
  &__item {
    width: calc(50% - 15px);
    @include media(992) {
      width: 100%;
    }
  }
  &__label {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 15px;
    color: #88919d;
  }
  &__input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e6eaed;
    border-radius: 8px;
    padding: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #444444;
    &::placeholder {
      color: #88919d;
    }
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include media(992) {
      flex-direction: column;
    }
    &-item {
      width: calc(50% - 15px);
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 30px;
      @include media(1200) {
        width: max-content;
      }
      @include media(576) {
        width: 100%;
        max-width: 100%;
      }
    }
    &-action {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      row-gap: 15px;
      @include media(768) {
        width: 100%;
      }
      &-btn {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        transition: 100ms ease-out;
        color: #176eae;
        &:hover {
          color: #0f3647;
        }
      }
    }
    &-result {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-label {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #88919d;
      }
      &-p {
        font-weight: 400;
        font-size: 23px;
        line-height: 140%;
        color: #444444;
        @include media(576) {
          font-weight: 400;
          font-size: 15px;
          line-height: 140%;
          color: #444444;
        }
      }
    }
    &-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fedd2e;
      border-radius: 8px;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      background: #fedd2e;
      border-radius: 8px;
      height: 55px;
      color: #000000;
      transition: 100ms ease-out;
      @include media(1200) {
        width: 270px;
      }
      @include media(576) {
        width: 100%;
        max-width: 100%;
      }
      &:hover {
        background: #fdce1b;
      }
    }
  }
  &__results {
    @include media(1200) {
      width: calc(100% - 300px);
    }
    @include media(992) {
      width: 100%;
    }
    @include media(768) {
      flex-wrap: wrap;
    }
  }
  &__withdraw {
    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 20px;
      p {
        font-weight: 700;
        font-size: 23px;
        line-height: 140%;
        color: #000000;
      }
    }
    &-delete {
      transition: 300ms ease-out;
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #176eae;
      &:hover {
        color: #0f3647;
      }
    }
    &-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 30px;
    }
    &-item {
      width: 180px;
      @include media(768) {
        width: 100%;
      }
    }
    &-label {
      font-weight: 400;
      font-size: 15px;
      line-height: 21px;
      color: #88919d;
      margin-bottom: 15px;
    }
    &-input {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #444444;
      background: #ffffff;
      border: 1px solid #e6eaed;
      border-radius: 8px;
      padding: 10px 15px;
      height: 50px;
      width: 100%;
    }
  }
}
