mixin calculator()
    .calculator
        .container 
            .calculator__body
                .calculator__form 
                    .calculator__line.calculator__line_large 
                        .calculator__block
                            p.calculator__label Сумма вклада
                            .calculator__block-wrapper
                                input(type="number" placeholder="10000" value="10000" min="10000" max="30000000").calculator__input.z
                                input(type="range" value="6" min="10000" max="30000000" step="10000").depositAmount.calculator__range
                                .dropdown.symbol-drop 
                                    button(type='button').dropdown__button.value-symbol ₽
                                    ul.dropdown__list 
                                        li.dropdown__list-item.dropdown__list-item_active(data-value="₽").choose-symbol ₽
                                        li.dropdown__list-item(data-value="$").choose-symbol $
                                        li.dropdown__list-item(data-value="€").choose-symbol €
                                    input(type="text" name="select-symbol" value="₽").dropdown__input_hidden
                    .calculator__line.calculator__line_large 
                        .calculator__block
                            p.calculator__label Срок вклада
                            input(type="text" placeholder="6 мес." value="6 мес." disabled).calculator__input
                            input(type="range" value="6" min="6" max="60" step="3" data-suffix="мес.").depositTerm.calculator__range
                    .calculator__line 
                        .calculator__item 
                            p.calculator__label Процентная ставка, в год
                            input(type="text" placeholder="10" value="10" maxlength="3").calculator__input.percentage
                        .calculator__item 
                            p.calculator__label Дата открытия 
                            input(type="text" placeholder="30.05.2022" value="30.05.2022" disabled).date-input.calculator__input.depositDate
                    .calculator__line 
                        .calculator__item 
                            p.calculator__label Начисленные проценты
                            .dropdown.calc-charges 
                                button(type='button').dropdown__button Оставлять на вкладе
                                ul.dropdown__list 
                                    li.dropdown__list-item.dropdown__list-item_active(data-value="Оставлять на вкладе") Оставлять на вкладе
                                    li.dropdown__list-item(data-value="Выплачивать") Выплачивать
                                input(type="text" name="select-percents" value="").dropdown__input_hidden
                        .calculator__item
                            p.calculator__label Периодичность выплат
                            .dropdown 
                                button(type='button').dropdown__button Раз в месяц
                                ul.dropdown__list 
                                    li.dropdown__list-item(data-value="Каждый день").calc-frequency Каждый день
                                    li.dropdown__list-item(data-value="Каждую неделю").calc-frequency Каждую неделю
                                    li.dropdown__list-item.dropdown__list-item_active(data-value="Раз в месяц").calc-frequency Раз в месяц
                                    li.dropdown__list-item(data-value="Раз в квартал").calc-frequency Раз в квартал
                                    li.dropdown__list-item(data-value="Раз в полгода").calc-frequency Раз в полгода
                                    li.dropdown__list-item(data-value="Раз в год").calc-frequency Раз в год
                                input(type="text" name="select-withdraw" value="").dropdown__input_hidden
                .calculator__withdraws 
                .calculator__list 
                    .calculator-title #[p График выплат]
                    .calculator__list-header
                        p.calculator__list-header-p Дата
                        p.calculator__list-header-p Начислено %
                        p.calculator__list-header-p Операции
                        p.calculator__list-header-p Остаток вклада
                    .calculator__list-content
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.05.2022
                            p(data-name="Начислено %").calculator__list-item-p -
                            p(data-name="Операции").calculator__list-item-p + 1 000 000,00
                            p(data-name="Остаток вклада").calculator__list-item-p 1 000 000,00
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.06.2022
                            p(data-name="Начислено %").calculator__list-item-p 8 493,15
                            p(data-name="Операции").calculator__list-item-p + 8 493,15
                            p(data-name="Остаток вклада").calculator__list-item-p 1 008 493,15
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.07.2022
                            p(data-name="Начислено %").calculator__list-item-p -
                            p(data-name="Операции").calculator__list-item-p.green + 100 000,00
                            p(data-name="Остаток вклада").calculator__list-item-p 1 108 493,15
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.07.2022
                            p(data-name="Начислено %").calculator__list-item-p 8 288,98
                            p(data-name="Операции").calculator__list-item-p + 8 288,98
                            p(data-name="Остаток вклада").calculator__list-item-p 1 116 782,13
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.08.2022
                            p(data-name="Начислено %").calculator__list-item-p -
                            p(data-name="Операции").calculator__list-item-p.red - 50 000,00
                            p(data-name="Остаток вклада").calculator__list-item-p 1 066 782,13
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.08.2022
                            p(data-name="Начислено %").calculator__list-item-p 9 485,00
                            p(data-name="Операции").calculator__list-item-p + 9 485,00
                            p(data-name="Остаток вклада").calculator__list-item-p 1 076 267,13
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.09.2022
                            p(data-name="Начислено %").calculator__list-item-p 9 140,90
                            p(data-name="Операции").calculator__list-item-p + 9 140,90
                            p(data-name="Остаток вклада").calculator__list-item-p 1 085 408,03
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.10.2022
                            p(data-name="Начислено %").calculator__list-item-p 8 921,16
                            p(data-name="Операции").calculator__list-item-p + 8 921,16
                            p(data-name="Остаток вклада").calculator__list-item-p 1 094 329,19
                        .calculator__list-item  
                            p(data-name="Дата").calculator__list-item-p 30.11.2022
                            p(data-name="Начислено %").calculator__list-item-p 9 294,30
                            p(data-name="Операции").calculator__list-item-p + 9 294,30
                            p(data-name="Остаток вклада").calculator__list-item-p 1 103 623,49
                include calc-footer.pug 
                +calc-footer()