mixin calculator()
    .calculator 
        .calculator__body.container 
            .calculator__form 
                .calculator__line.calculator__line_large 
                    .calculator__block
                        p.calculator__label Сумма вклада
                        input(type="text" placeholder="10 000 ₽" value="10 000 ₽" disabled).calculator__input
                        input(type="range" value="6" min="10000" max="10000000" step="10000" data-suffix="₽").calculator__range
                .calculator__line.calculator__line_large 
                    .calculator__block
                        p.calculator__label Срок вклада
                        input(type="text" placeholder="6 мес." value="6 мес." disabled).calculator__input
                        input(type="range" value="6" min="6" max="60" step="1" data-suffix="мес.").calculator__range
                .calculator__line 
                    .calculator__item 
                        p.calculator__label Процентная ставка, в год
                        input(type="text" placeholder="10,00%" value="10,00%").calculator__input
                    .calculator__item 
                        p.calculator__label Дата открытия
                        input(type="text" placeholder="30.05.2022" value="30.05.2022").calculator__input
                .calculator__line 
                    .calculator__item 
                        p.calculator__label Начисленные проценты
                        .dropdown 
                            button(type='button').dropdown__button Оставлять на вк..
                            ul.dropdown__list 
                                li.dropdown__list-item(data-value="Оставлять на вк..") Оставлять на вк..
                                li.dropdown__list-item.dropdown__list-item_active(data-value="Оставлять на вк..") Оставлять на вк..
                                li.dropdown__list-item(data-value="Оставлять на вк..") Оставлять на вк..
                                li.dropdown__list-item(data-value="Оставлять на вк..") Оставлять на вк..
                            input(type="text" name="select-percents" value="").dropdown__input_hidden
                    .calculator__item
                        p.calculator__label Периодичность выплат
                        .dropdown 
                            button(type='button').dropdown__button Раз в месяц
                            ul.dropdown__list 
                                li.dropdown__list-item(data-value="Раз в неделю") Раз в неделю
                                li.dropdown__list-item.dropdown__list-item_active(data-value="Раз в месяц") Раз в месяц
                                li.dropdown__list-item(data-value="Раз в году") Раз в году
                            input(type="text" name="select-withdraw" value="").dropdown__input_hidden

            .calculator__footer 