mixin categories()
    .categories 
        .categories__body.container 
            p.categories__title.title Категории вкладов
            .categories__content 
                .categories__item Все вклады
                .categories__item Рейтинг вкладов
                .categories__item Вклады онлайн
                .categories__item Вклады в долларах
                .categories__item Вклады в евро
                .categories__item Мультивалютные вклады
                .categories__item Накопительные счета
                .categories__item Срочные вклады
                .categories__item Вклады на 3 месяца
                .categories__item Вклады на 6 месяцев
                .categories__item Вклады на 1 год
                .categories__item Вклады с пополнением
